*, *:after, *:before: {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  color: #111;
  font: 12px/1.5 'Trebuchet MS', Helvetica, sans-serif;
  font-weight: 300;
  margin: 0;
  background: #F4F4F4;
}

.container {
  width: 100%;
}

.header {
  background: #5dbfb4;
  padding: 0.5em;
}

.header__container,
.feeds__container {
  width: 90%;
  margin: 0 auto;
  clear: both;
  overflow: hidden;
}

.header__title {
  font-size: 2em;
  color: #2f6761;
  vertical-align: bottom;
  /*display: inline-block;*/
  margin: 0;
  display: block;
  text-align: center;
  width: 100%;
}

.header__icon {
  font-size: 1em;
  color: #fb8300;
  margin-right: 0.5em;
}

.listSitesFeeds {
  display: inline-block;
  /* float: right; */
  text-align: center;
  margin: 0.5em 0 0;
  padding: 0.5em 0;
  vertical-align: bottom;
  width: 100%;
  border-top: 1px dotted #58b5ab;
}

.siteFeedsItem {
  display: inline-block;
  cursor: pointer;
}
.filter{
  display: inline-block;
  font-size: 1.6em;
  color:#2f6761;
  margin-right: 0.5em;
}

.siteFeedsItem__link {
  color: #ebf5f4;
  font-size: 1.366em;
  margin-right: 1em;
}

ul, li, p, a, span, div, label, button, nav, h1, h2, h3, h4, h5, h6 {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

.categoryTitle {
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 0.5em;
  color: #7c9693;
}

.listFeeds {
  list-style: none;
  margin: 0;
  padding: 0;
}

.feedsItem {
  margin-bottom: 2em;
  display: block;
}

.feedsItem__link {
  font-size: 1.3em;
  text-decoration: none;
  color: #5b6160;
  display: block;
  padding: 0.5em;
}

.feedsItem__link:hover {
  background: #d1dad9;
}

.feedsItem__infos {
  display: block;
  margin-top: 0.5em;
  border-top: 1px dotted #c9cecd;
}

.info {
  font-size: 0.9em;
  font-weight: 300;
  margin-right: 0.5em;
}

.info--light {
  font-weight: lighter;
  color: #b5b3b3;
}

.info:last-child {
  margin-right: 0;
}

.app-container {
  width: 100%;
}

.siteFeeds {
  color: #fff;
}

.loading,
.error {
  position: fixed;
  height: 100%;
  background: #5dbfb4;
  opacity: 0.9;
  width: 100%;
  z-index: 1000;
}

.loading__txt,
.error__txt {
  font-size: 3em;
  text-align: center;
  color: #d47207;
  position: relative;
  top: 25vh;
}

.loading__icon,
.error__icon {
  display: inline-block;
  margin-right: 0.5em;
  font-size:2em;
}

.error__icon {
  vertical-align: top;
}

.loading__animation, .loading__animation:before, .loading__animation:after {
    border-radius: 50%;
}


/*Créditos da animação do loading https://projects.lukehaas.me/css-loaders/*/

.loading__animation {
    color: #d47207;
    font-size: 11px;
    text-indent: -99999em;
    margin: 0 auto;
    display: block;
    width: 10em;
    height: 10em;
    box-shadow: inset 0 0 0 1em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    will-change: contents;
}

.loading__animation:before, .loading__animation:after {
    position: absolute;
    content: '';
}

.loading__animation:before {
    width: 5.2em;
    height: 10.2em;
    background: #5dbfb4;
    border-radius: 10.2em 0 0 10.2em;
    top: -0.1em;
    left: -0.1em;
    -webkit-transform-origin: 5.2em 5.1em;
    transform-origin: 5.2em 5.1em;
    -webkit-animation: load2 2s infinite ease 1.5s;
    animation: load2 2s infinite ease 1.5s;
}

.loading__animation:after {
    width: 5.2em;
    height: 10.2em;
    background: #5dbfb4;
    border-radius: 0 10.2em 10.2em 0;
    top: -0.1em;
    left: 5.1em;
    -webkit-transform-origin: 0px 5.1em;
    transform-origin: 0px 5.1em;
    -webkit-animation: load2 2s infinite ease;
    animation: load2 2s infinite ease;
}

@-webkit-keyframes load2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/*fim loading*/

@media only screen and (min-width: 30em) {

  .header__title {
    display: inline-block;
    width: auto;
  }

  .listSitesFeeds {
    float: right;
    border-top: none;
    margin:0;
    width: auto;
  }
}
